.features-section {
  padding-top: 94px;
  padding-bottom: 53px;
}
.features-title {
  margin-bottom: 10px;

  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--primery-text-color);
}

.features-list {
  display: flex;
}

.features-item {
  width: 270px;
}
.features-item:not(:last-child) {
  margin-right: 30px;
}

.features-text {
  margin-bottom: 0;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}

.box-features-icon {
  height: 120px;
  background-color: var(--background-third-color);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
